/* 亮色模式配色 */
:root {
  /* 标题颜色 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #8800ff,
    #3e63dd
  );
  /* 图片背景颜色 */
  --vp-home-hero-image-background-image: linear-gradient(
    135deg,
    #000000 10%,
    #000000 100%
  );
  --vp-home-hero-image-filter: blur(150px);
  /* 链接颜色 */
  --vp-c-brand-1: #3e63dd;
  /* 链接选中颜色 */
  --vp-c-brand-2: #5d00ff;
  /* 按钮颜色 */
  --vp-c-brand-3: #3e63ddbb;
  --vp-02: rgba(220, 220, 220, 0.2);
  --vp-04: rgba(220, 220, 220, 0.4);
  --vp-06: rgba(220, 220, 220, 0.6);
  --vp-08: rgba(220, 220, 220, 0.8);
  --vp-10: rgba(220, 220, 220, 1);
}
/* 暗色模式配色 */
.dark {
  /* 标题颜色 */
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #a8e6ff,
    #42b983
  );
  --vp-home-hero-name-color: transparent;
  /* 图片背景颜色 */
  --vp-home-hero-image-background-image: linear-gradient(
    135deg,
    #42b983 10%,
    #42b983 100%
  );
  --vp-home-hero-image-filter: blur(150px);
  /* 链接颜色 */
  --vp-c-brand-1: #42b983;
  /* 链接选中颜色 */
  --vp-c-brand-2: #56e3a3;
  /* 按钮颜色 */
  --vp-c-brand-3: #42b983bb;
  --vp-02: rgba(0, 0, 0, 0.2);
  --vp-04: rgba(0, 0, 0, 0.4);
  --vp-06: rgba(0, 0, 0, 0.6);
  --vp-08: rgba(0, 0, 0, 0.8);
  --vp-10: rgba(0, 0, 0, 1);
}

:root {
  .icon {
    border-radius: 100px;
  }
  /* 翻页按键 */
  .desc {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0.4rem;
    transition: color 0.5s;
  }
  .pager-link:hover .desc {
    color: var(--vp-c-brand-1);
    transition: color 0.25s;
  }
  .pager-link {
    will-change: transform;
    border: none;
    transition: transform 0.5s;
  }
  .pager-link:hover {
    border: none;
    transform: scale(1.1);
    transition: transform 0.25s;
  }
  /* 代码块 */
  .shiki {
    max-height: 30em;
  }
  /* 导航栏 */
  .VPNavBar {
    /* 添加毛玻璃效果 */
    background: var(--vp-04);
    backdrop-filter: blur(10px);
  }
  @media (min-width: 960px) {
    .VPNavBar:not(.home) {
      backdrop-filter: blur(0px);
    }
    .VPNavBar:not(.has-sidebar):not(.home.top) {
      background: var(--vp-06);
      backdrop-filter: blur(10px);
    }
  }
  .content-body {
    transition: background-color 0s;
  }
  /* 导航栏字体 */
  .VPNavBarMenuLink {
    font-weight: bold;
    transition: color 0.5s;
  }
  .VPNavBarMenuLink:hover {
    transition: color 0.25s;
  }
  .text {
    transition: color 0.5s;
    font-weight: bold;
  }
  .text:hover {
    transition: color 0.25s;
  }
  /* 导航栏logo */
  .title {
    transition: color 0.5s;
  }
  .title:hover {
    transition: color 0.25s;
    color: var(--vp-c-brand-1);
  }
  .VPNavBarTitle {
    will-change: transform;
    transition: transform 0.5s;
  }
  .VPNavBarTitle:hover {
    transition: transform 0.25s;
    transform: scale(1.1);
  }
  /* 页脚 */
  .VPFooter {
    background: rgba(0, 0, 0, 0);
    border-top: 0;
  }
  /* 介绍块 */
  .VPFeature {
    will-change: transform;
    border: 2px solid var(--vp-06);
    background: var(--vp-06);
    backdrop-filter: blur(10px);
    transition: transform 0.5s, background-color 0.5s, border-color 0.5s;
  }
  .VPFeature:hover {
    transform: scale(1.05);
    background: var(--vp-04);
    border-color: rgba(0, 0, 0, 0);
    transition: transform 0.25s, background-color 0.25s, border-color 0.25s;
  }
  /* 搜索页背景 */
  .backdrop {
    backdrop-filter: blur(4px);
  }
  /* 搜索框 */
  .DocSearch-Button {
    background-color: rgba(0, 0, 0, 0);
  }
  @media (min-width: 768px) {
    .DocSearch-Button {
      background: var(--vp-02);
    }
  }
  /* 主页name */
  .clip {
    font-size: 50px;
  }
  /* 主页text */
  .container .main .text {
    font-size: 30px;
  }
  @media (min-width: 640px) {
    .clip {
      font-size: 60px;
    }
    .container .main .text {
      font-size: 40px;
    }
  }
  @media (min-width: 960px) {
    .clip {
      font-size: 70px;
    }
    .container .main .text {
      font-size: 50px;
    }
  }
  /* 首页按钮 */
  .VPButton.brand {
    will-change: transform;
    border: 2px solid var(--vp-02);
    backdrop-filter: blur(10px);
    background-color: var(--vp-06);
    transition: transform 0.5s, color 0.5s, border-color 0.5s, border-color 0.5s;
  }
  .VPButton.brand:hover {
    border-color: var(--vp-c-brand-1);
    backdrop-filter: blur(10px);
    background-color: var(--vp-04);
    transform: scale(1.1);
    color: var(--vp-c-brand-1);
    transition: transform 0.25s, color 0.25s, border-color 0.25s,
      border-color 0.25s;
  }
  .VPButton.brand:active {
    border-color: var(--vp-c-brand-2);
    backdrop-filter: blur(10px);
    background-color: var(--vp-06);
    transform: scale(1.1);
    color: var(--vp-c-brand-1);
    transition: transform 0.25s, color 0.25s, border-color 0.25s,
      border-color 0.25s;
  }

  /* 社交标签 */
  .VPSocialLink {
    transition: transform 0.25s, color 0.25s;
  }
  .VPSocialLink:hover {
    transform: scale(1.1);
    color: var(--vp-c-brand-1);
    transition: transform 0.5s, color 0.5s;
  }
  /* 图片查看器 */
  .medium-zoom-overlay {
    z-index: 998;
    backdrop-filter: blur(10px);
  }
  .medium-zoom-image {
    z-index: 999;
  }
  img {
    border-radius: 10px;
  }
  /* 顶栏展开选项菜单 */
  .VPMenu {
    background: var(--vp-08);
  }
  /* 顶栏展开菜单 */
  .VPNavScreen {
    background: var(--vp-04);
    backdrop-filter: blur(10px);
  }
  /* 顶栏展开菜单主题切换面板 */
  .VPNavScreenAppearance {
    background: var(--vp-02);
    backdrop-filter: blur(10px);
  }
  /* 滚动条样式 */
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    overflow: scroll;
  }

  ::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0);
  }

  ::-webkit-scrollbar-thumb {
    height: 4px;
    border-radius: 4px;
    background-color: var(--vp-c-brand-1);
  }
  /*解决角落显示方块问题*/
  ::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
  }
  /* 顶栏背景 */
  /* .content-body {
    background-color: rgba(0, 0, 0, 0) !important;
  } */
  /* 顶部黑线 */
  .divider-line {
    background-color: rgba(0, 0, 0, 0) !important;
  }
  /* 左上图标去线 */
  .title {
    border-bottom: rgba(0, 0, 0, 0) !important;
  }
  /* 移动端设置面板 */
  .header {
    will-change: transform;
    border-bottom: 1px solid var(--vp-c-text-2);
  }
  .outline {
    will-change: transform;
    outline-style: none;
  }
  /* 播放器样式 */
  .aplayer {
    background: rgba(128, 128, 128, 0.4);
  }
  .aplayer.aplayer-withlist .aplayer-info {
    border-bottom: 0px;
  }
  .aplayer .aplayer-lrc:before {
    height: 1%;
    background: rgba(128, 128, 128, 0.4);
  }
  .aplayer .aplayer-lrc:after {
    background: rgba(0, 0, 0, 0);
  }
  .aplayer .aplayer-list ol li.aplayer-list-light {
    background: rgba(128, 128, 128, 0.4);
  }
  .aplayer .aplayer-list ol li {
    border-top: 1px solid rgba(128, 128, 128, 0.4);
  }
}
/* 容器样式 */
@media (min-width: 768px) {
  html {
    overflow: scroll; /* 强制显示滚动条 */
  }
}
