/* 亮色模式配色 */
:root {
  /* 标题颜色 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #8800ff,
    #3e63dd
  );
  /* 图片背景颜色 */
  --vp-home-hero-image-background-image: linear-gradient(
    135deg,
    #000000 10%,
    #000000 100%
  );
  --vp-home-hero-image-filter: blur(150px);
  /* 链接颜色 */
  --vp-c-brand-1: #3e63dd;
  /* 链接选中颜色 */
  --vp-c-brand-2: #5d00ff;
  /* 按钮颜色 */
  --vp-c-brand-3: #3e63ddbb;
  --vp-02: rgba(220, 220, 220, 0.2);
  --vp-04: rgba(220, 220, 220, 0.4);
  --vp-06: rgba(220, 220, 220, 0.6);
  --vp-08: rgba(220, 220, 220, 0.8);
  --vp-10: rgba(220, 220, 220, 1);
}
/* 暗色模式配色 */
.dark {
  /* 标题颜色 */
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #a8e6ff,
    #42b983
  );
  --vp-home-hero-name-color: transparent;
  /* 图片背景颜色 */
  --vp-home-hero-image-background-image: linear-gradient(
    135deg,
    #42b983 10%,
    #42b983 100%
  );
  --vp-home-hero-image-filter: blur(150px);
  /* 链接颜色 */
  --vp-c-brand-1: #42b983;
  /* 链接选中颜色 */
  --vp-c-brand-2: #56e3a3;
  /* 按钮颜色 */
  --vp-c-brand-3: #42b983bb;
  --vp-02: rgba(0, 0, 0, 0.2);
  --vp-04: rgba(0, 0, 0, 0.4);
  --vp-06: rgba(0, 0, 0, 0.6);
  --vp-08: rgba(0, 0, 0, 0.8);
  --vp-10: rgba(0, 0, 0, 1);
}

:root {
  .icon {
    border-radius: 100px;
  }
  li,
  p {
    color: var(--vp-c-text-2);
  }
  /* 翻页按键 */
  .desc {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0.4rem;
    transition: color 0.5s;
  }
  .pager-link:hover .desc {
    color: var(--vp-c-brand-1);
    transition: color 0.25s;
  }
  .pager-link {
    will-change: transform;
    border: none;
    transition: transform 0.5s;
  }
  .pager-link:hover {
    border: none;
    transform: scale(1.1);
    transition: transform 0.25s;
  }
  /* 代码块 */
  .shiki {
    max-height: 30em;
  }
  /* 导航栏 */
  .VPNavBar {
    /* 添加毛玻璃效果 */
    background: var(--vp-04);
    backdrop-filter: blur(10px);
    transition: background-color 0s;
  }
  @media (min-width: 960px) {
    .VPNavBar:not(.home) {
      backdrop-filter: blur(0px);
    }
    .VPNavBar:not(.has-sidebar):not(.home.top) {
      background: var(--vp-06);
      backdrop-filter: blur(10px);
    }
  }
  .content-body {
    transition: background-color 0s;
  }
  /* 导航栏字体 */
  .VPNavBarMenuLink {
    font-weight: bold;
    transition: color 0.5s;
  }
  .VPNavBarMenuLink:hover {
    transition: color 0.25s;
  }
  .text {
    transition: color 0.5s;
    font-weight: bold;
  }
  .text:hover {
    transition: color 0.25s;
  }
  /* 导航栏logo */
  .title {
    transition: color 0.5s;
  }
  .title:hover {
    transition: color 0.25s;
    color: var(--vp-c-brand-1);
  }
  .VPNavBarTitle {
    will-change: transform;
    transition: transform 0.5s;
  }
  .VPNavBarTitle:hover {
    transition: transform 0.25s;
    transform: scale(1.1);
  }
  /* 页脚 */
  .VPFooter {
    background: rgba(0, 0, 0, 0);
    border-top: 0;
  }
  /* 介绍块 */
  .VPFeature {
    will-change: transform;
    border: 2px solid var(--vp-06);
    background: var(--vp-06);
    backdrop-filter: blur(10px);
    transition: transform 0.5s, background-color 0.5s, border-color 0.5s;
  }
  .VPFeature:hover {
    transform: scale(1.05);
    background: var(--vp-04);
    border-color: rgba(0, 0, 0, 0);
    transition: transform 0.25s, background-color 0.25s, border-color 0.25s;
  }
  /* 搜索页背景 */
  .backdrop {
    backdrop-filter: blur(4px);
  }
  /* 搜索框 */
  .DocSearch-Button {
    background-color: rgba(0, 0, 0, 0);
  }
  @media (min-width: 768px) {
    .DocSearch-Button {
      background: var(--vp-02);
    }
  }
  /* 主页name */
  .clip {
    font-size: 50px;
  }
  /* 主页text */
  .container .main .text {
    font-size: 30px;
  }
  @media (min-width: 640px) {
    .clip {
      font-size: 60px;
    }
    .container .main .text {
      font-size: 40px;
    }
  }
  @media (min-width: 960px) {
    .clip {
      font-size: 70px;
    }
    .container .main .text {
      font-size: 50px;
    }
  }
  /* 首页按钮 */
  .VPButton.brand {
    will-change: transform;
    border: 2px solid var(--vp-02);
    backdrop-filter: blur(10px);
    background-color: var(--vp-06);
    transition: transform 0.5s, color 0.5s, border-color 0.5s, border-color 0.5s;
  }
  .VPButton.brand:hover {
    border-color: var(--vp-c-brand-1);
    backdrop-filter: blur(10px);
    background-color: var(--vp-04);
    transform: scale(1.1);
    color: var(--vp-c-brand-1);
    transition: transform 0.25s, color 0.25s, border-color 0.25s,
      border-color 0.25s;
  }
  .VPButton.brand:active {
    border-color: var(--vp-c-brand-2);
    backdrop-filter: blur(10px);
    background-color: var(--vp-06);
    transform: scale(1.1);
    color: var(--vp-c-brand-1);
    transition: transform 0.25s, color 0.25s, border-color 0.25s,
      border-color 0.25s;
  }

  /* 社交标签 */
  .VPSocialLink {
    transition: transform 0.25s, color 0.25s;
  }
  .VPSocialLink:hover {
    transform: scale(1.1);
    color: var(--vp-c-brand-1);
    transition: transform 0.5s, color 0.5s;
  }
  /* 图片查看器 */
  .medium-zoom-overlay {
    z-index: 998;
    backdrop-filter: blur(10px);
  }
  .medium-zoom-image {
    z-index: 999;
  }
  img {
    border-radius: 10px;
  }
  /* 顶栏展开选项菜单 */
  .VPMenu {
    background: var(--vp-08);
  }
  /* 顶栏展开菜单 */
  .VPNavScreen {
    background: var(--vp-04);
    backdrop-filter: blur(10px);
  }
  /* 顶栏展开菜单主题切换面板 */
  .VPNavScreenAppearance {
    background: var(--vp-02);
    backdrop-filter: blur(10px);
  }
  /* 滚动条样式 */
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    overflow: scroll;
  }

  ::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0);
  }

  ::-webkit-scrollbar-thumb {
    height: 4px;
    border-radius: 4px;
    background-color: var(--vp-c-brand-1);
  }
  /*解决角落显示方块问题*/
  ::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
  }
  /* 顶栏背景 */
  /* .content-body {
    background-color: rgba(0, 0, 0, 0) !important;
  } */
  /* 顶部黑线 */
  .divider-line {
    background-color: rgba(0, 0, 0, 0) !important;
  }
  /* 左上图标去线 */
  .title {
    border-bottom: rgba(0, 0, 0, 0) !important;
  }
  /* 移动端设置面板 */
  .header {
    will-change: transform;
    border-bottom: 1px solid var(--vp-c-text-2);
  }
  .outline {
    will-change: transform;
    outline-style: none;
  }
  /* 播放器样式 */
  .aplayer {
    background: rgba(128, 128, 128, 0.4);
  }
  .aplayer.aplayer-withlist .aplayer-info {
    border-bottom: 0px;
  }
  .aplayer .aplayer-lrc:before {
    height: 1%;
    background: rgba(128, 128, 128, 0.4);
  }
  .aplayer .aplayer-lrc:after {
    background: rgba(0, 0, 0, 0);
  }
  .aplayer .aplayer-list ol li.aplayer-list-light {
    background: rgba(128, 128, 128, 0.4);
  }
  .aplayer .aplayer-list ol li {
    border-top: 1px solid rgba(128, 128, 128, 0.4);
  }
}
/* 容器样式 */
@media (min-width: 768px) {
  html {
    overflow: scroll; /* 强制显示滚动条 */
  }
}

/* 附加内容 */
/* 翻页按键 */
:root {
  --icon-pager: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 32'%3E%3Cstyle%3Epath {stroke-dasharray: 20 5;animation: 500s linear infinite reverse move-stroke;}path.line2 {stroke-dasharray: 6 4;animation-duration: 450s;opacity: 0.7;}path.line3 {stroke-dasharray: 4 6;animation-duration: 450s;opacity: 0.3;}@keyframes move-stroke {from {stroke-dashoffset: 0;}to {stroke-dashoffset: 1500;}}%3C/style%3E%3Cg fill='none' stroke='%23000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M11 2l14 14M11 30l14 -14'/%3E%3Cpath d='M7 6l10 10M7 26l10 -10' class='line2'/%3E%3Cpath d='M3 10l6 6M3 22l6 -6' class='line3'/%3E%3C/g%3E%3C/svg%3E");
}

a.pager-link[class] {
  &.prev,
  &.next {
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -16px;
      width: 28px;
      height: 32px;
      padding-right: 32px;
      color: var(--vp-c-text-3);
      transition: color 0.2s;
      background-color: currentColor;
      mask: var(--icon-pager) no-repeat 100% 100%;
      -webkit-mask: var(--icon-pager) no-repeat 100% 100%;
    }
  }

  &.prev {
    padding-left: 36px;
    padding-right: 0;
    &:after {
      left: 0;
      transform: rotate(180deg);
    }
  }

  &.next {
    padding-left: 0;
    padding-right: 36px;
    &:after {
      right: 0;
    }
  }

  &:hover {
    &:after {
      color: var(--vp-c-brand-1);
    }
    .title {
      color: var(--vp-c-brand-1);
    }
    .desc {
      opacity: 1;
    }
  }
}

/* 侧边栏和大纲样式 */
.VPSidebarItem.level-1 .items,
.VPSidebarItem.level-2 .items,
.VPSidebarItem.level-3 .items,
.VPSidebarItem.level-4 .items,
.VPSidebarItem.level-5 .items,
.VPDocAside .has-outline .content {
  position: relative;
  border-left-color: transparent !important;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    width: 1px;
    background: var(--vp-c-border);
    animation: 0.5s linear forwards border-horizontal;
  }
}
/* 菜单项分隔线动画 */
.menu + .translations::before,
.menu + .appearance::before,
.menu + .social-links::before,
.translations + .appearance::before,
.appearance + .social-links::before {
  animation: 0.5s linear forwards height24;
}
/* 线条动画 */
.vp-doc h2,
.group + .group[data-v-1e48ca08] {
  position: relative;
  border-top-width: 0;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: var(--vp-c-border);
    animation: 2s linear forwards border-line;
  }
}

@media (min-width: 960px) {
  .VPNavBarTitle.has-sidebar a.title {
    position: relative;
    border-bottom-width: 0;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: var(--vp-c-border);
      animation: 1s linear forwards border-line;
    }
  }
}
@keyframes border-line {
  from {
    right: 100%;
  }
  to {
    right: 0;
  }
}

@keyframes border-horizontal {
  from {
    bottom: 100%;
  }
  to {
    bottom: 0;
  }
}

@keyframes height24 {
  from {
    height: 0;
  }
  to {
    height: 24px;
  }
}

/* 代码复制样式更改 */
:root {
  --vp-icon-copy: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28px' height='28px' viewBox='0 0 24 24'%3E%3Cpath fill='white' fill-opacity='0' d='M6 4H10V6H14V4H18V10H20V18H18V20H6V4Z'%3E%3Canimate fill='freeze' attributeName='fill-opacity' begin='1.4s' dur='0.15s' values='0;0.3'/%3E%3C/path%3E%3Cg fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg stroke-width='2'%3E%3Cpath stroke-dasharray='16' stroke-dashoffset='16' d='M12 3H19V11'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.2s' values='16;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='44' stroke-dashoffset='44' d='M19 17V21H5V3H12'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.2s' dur='0.4s' values='44;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='10' stroke-dashoffset='10' d='M21 14H12.5'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='1s' dur='0.2s' values='10;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='6' stroke-dashoffset='6' d='M12 14L15 17M12 14L15 11'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='1.2s' dur='0.2s' values='6;0'/%3E%3C/path%3E%3C/g%3E%3Cpath stroke-dasharray='12' stroke-dashoffset='12' d='M14.5 3.5V6.5H9.5V3.5'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.7s' dur='0.2s' values='12;0'/%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  --vp-icon-copied: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28px' height='28px' viewBox='0 0 24 24'%3E%3Cpath fill='white' fill-opacity='0' d='M6 4H10V6H14V4H18V20H6V4Z'%3E%3Canimate fill='freeze' attributeName='fill-opacity' begin='1.2s' dur='0.15s' values='0;0.3'/%3E%3C/path%3E%3Cg fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg stroke-width='2'%3E%3Cpath stroke-dasharray='66' stroke-dashoffset='66' d='M12 3H19V21H5V3H12Z'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.6s' values='66;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='10' stroke-dashoffset='10' d='M9 13L11 15L15 11'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='1s' dur='0.2s' values='10;0'/%3E%3C/path%3E%3C/g%3E%3Cpath stroke-dasharray='12' stroke-dashoffset='12' d='M14.5 3.5V6.5H9.5V3.5'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.7s' dur='0.2s' values='12;0'/%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.vp-doc [class*='language-'] > button.copy {
    direction: ltr;
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 3;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    cursor: pointer;
    background-image: var(--vp-icon-copy);
    background-position: 50%;
    background-size: 20px;
    background-repeat: no-repeat;
    transition: border-color 0.25s, background-color 0.25s, opacity 0.25s;
}

.vp-doc [class*='language-'] > button.copy.copied::before, .vp-doc [class*='language-'] > button.copy:hover.copied::before {
  position: relative;
  top: -1px;
  transform: translateX(calc(-100% - 1px));
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid rgba(0, 0, 0, 0);
  border-right: 0;
  border-radius: 10px;
  padding: 0 10px;
  width: fit-content;
  height: 40px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  color: var(--vp-code-copy-code-active-text);
  background-color: rgba(0, 0, 0, 0);
  white-space: nowrap;
  content: var(--vp-code-copy-copied-text-content);
}

.vp-doc [class*='language-'] > button.copy.copied, .vp-doc [class*='language-'] > button.copy:hover.copied {
  border-radius: 10px;
  background-color: var(--vp-code-copy-code-hover-bg);
  background-image: var(--vp-icon-copied);
}